#box{
			width: 700px;
			height: 400px;
			position: relative;
			margin: 0 auto;
		}
		#box-img{
			position: absolute;
			top: 0;
			left: 0;
		}
		#box-left{
			z-index: 100;
			position: absolute;
			width: 35px;
			height: 70px;
			
			color: #ccc;
			top: 190px;
			border-radius: 0 5px 5px 0;
			text-align: center;
			line-height: 70px;
			font-size: 27px;
		}
		#box-left:hover{
			color: #FFFFFF;
			background-color: #00000050;
		}
		#box-right{
			z-index: 100;
			position: absolute;
			width: 35px;
			height: 70px;
			color: #ccc;
			top: 190px;
			border-radius: 5px 0px 0px 5px;
			text-align: center;
			line-height: 70px;
			font-size: 27px;
			right: 0;
		}
		#box-right:hover{
			color: #FFFFFF;
			background-color: #00000050;
		}
		#box-o{
			position: absolute;
			bottom: 30px;
			right: 100px;
		}
		#box-o>ul{
			padding: 0;
			margin: 0;
			list-style: none;
		}
		#box-o li{
			padding-right: 1px;
			width: 8px;
			height: 14px;
			border-radius: 100%;
			background-color: #CCCCCC;
			float: left;
			margin-right: 10px;
		}
		#box-o li:hover{
			background-color: #FFFFFF;
		}